# Version Config File PowerElytra. (DON"T CHANGE)
version: 2

# Delay to use SHIFT to power elytra (sec). Set 0 to disable. Recommended 3-5.
delay: 4

# Vector of velocity, add motion. Recommended 1.0 - 2.0.
velocity: 1.5

# You get Particle type in https://hub.spigotmc.org/javadocs/spigot/org/bukkit/Particle.html
# You get Sound type in https://hub.spigotmc.org/javadocs/spigot/org/bukkit/Sound.html

# If you use SHIFT elytra gets power.
# soundReload - time when you can again use power.
power:
    particle:
        enable: true
        type: 'FLAME'
        count: 16
        dx: 0.1
        dy: 0.1
        dz: 0.1
        speed: 0.15
    sound:
        enable: true
        type: 'ITEM_FIRECHARGE_USE'
        volume: 1.0
        pich: 1.0
    soundReload:
        enable: true
        type: 'BLOCK_FIRE_EXTINGUISH'
        volume: 1.0
        pich: 1.0

# Fly in Elytra
fly:
    particle:
        enable: true
        type: 'CLOUD'
        count: 3
        dx: 0.1
        dy: 0.1
        dz: 0.1
        speed: 0.1

# Fuel to use power
# count - need count item to use power. If you use power fuel removed a count.
# If you don't have fuel item you see message. enable: false - to disable message.
fuel:
    enable: true
    item:
        id: 385
        data: 0
        loreDetect:
            enable: false
            lore:
            - 'fuel'
            - 'to Elytra'
        count: 1
    messages:
        enable: true
        message: '§7You need fuel - §eFire Charge§7, to use power!'

# Deny use power in Worlds (world, world_nether, world_the_end)
denyWorlds:
    - 'pvp'